@import 'variables';
@import 'mixins';

.header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    z-index: 9;
    @include flex(center, center);
    @include respond-to($breakpoint-medium){
      @include flex(space-between, center);
    }
    & .menu {
      display: none;
      @include respond-to($breakpoint-medium){
        margin-left: 20px;
        display: block;
      }
    } 
  }
  
  .headerContainer {
    max-width: 1000px;
    height: 80px;
    @include flex(space-arround, center);
    @include respond-to($breakpoint-medium){
      padding: 0 20px;
      };
   & nav  {
     @include respond-to($breakpoint-medium){
      display: none;
      };
      @include flex(space-arround, center);
      & a {
        text-decoration: none;
        color: $light;
        margin-right: 20px;
      }
    }
  }
  .authLinkContainer {
    width: 100%;
    min-width: 180px;
    margin-left: 30px;
    @include flex(center, center);
    @include respond-to($breakpoint-medium){
      display: none;
    }
  }

  .authLink {
    text-decoration: none;
    color: $light;
    margin-right: 10px;
  }
  .themeContainer {
    width: 50px;
    @include flex(center, center);
    @include respond-to($breakpoint-medium){
      display: none;
    }
  }
  .userNameStyle {
    padding: 5px 0;
    padding-left: 5px;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: 1px solid $light;
    border-radius: 5px;
    color: $light;
  }
  .logedUserContainer {
    min-width: 220px;
    @include flex(space-arround, center);
    & button {
      width: 80px;
      margin-left: 15px;
      padding: 3px 5px;
      border: none;
      background-color: transparent;
      color: $light;
      cursor: pointer;
      &:hover {
         border: 1px solid $light;
         border-radius: 3px;
      }
     }
  }
