@import 'variables';
@import 'mixins';

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 9;
    @include flex(center, center);
  }
  
  .headerContainer {
   @include flex(space-arround, space-arround);
   @include respond-to($breakpoint-small){
     @include flex(space-arround, space-arround, column);
  
   }
   & nav  {
     min-width: 550px;
     @include respond-to($breakpoint-small){
       width: 375px;
       height: 40px;
       @include flex(space-arround, center);
       padding-left: 10px;
       
      };
      @include flex(space-arround, center);
      & a {
        text-decoration: none;
        color: $light;
        margin-right: 20px;
      }
    }
  }
  .authLinkContainer {
    @include respond-to($breakpoint-small){
      width: 375px;
      @include flex(space-arround, center);
      padding-left: 10px;

    }
  }
  .authLink {
    text-decoration: none;
    color: $light;
    @include respond-to($breakpoint-small){
      margin-right: 10px;
    }

  
  }
  .userNameStyle {
    padding: 5px 0;
    padding-left: 5px;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: 1px solid $light;
    border-radius: 5px;
    color: $light;
  }
  .logedUserContainer {
    width: 150px;
    @include flex(flex-end, center);
    @include respond-to($breakpoint-small){
      width: 130px;
      position: absolute;
      top: 40px;
      right: 5px;
    }
    & button {
      margin-left: 15px;
      padding: 3px 5px;
       border: none;
       border-radius: 3px;
       background-color: transparent;
       color: $light;
       cursor: pointer;
       &:hover {
         background-color: $bg-clr;
         color: $text-clr;
      }
     }
  }
