@import 'variables';
@import 'mixins';

.signupForm {
   width: 100%;
}
.showPswBtn {
    width: 100px;
    margin-top: 20px;
    padding: 3px;
    border-radius: 3px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        background-color: $primary-clr;
        color: $text-clr-dark;

    }
}
