@import 'variables';
@import 'mixins';

.painterContainer {
 margin: 0 auto;
 height: auto;
 min-height: 970px;
 padding: 10px;
 @include flex( flex-start, center, column);
}
.deleteImage {
  width: 80px;
  height: 20px;
  text-align: center;
  color:gray;
  border: 1px solid transparent;
  cursor: pointer;
  &:hover {
    border-color: grey;
  }
  &:active {
    color: red;
    border-color: red;
  }
}
.imagesStyle {
  margin-top: 30px;  
  width: 100%;
  max-width: 900px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
  & .ImageLayout {
    width: 220px;
    height: 250px;
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
    padding: 10px;
  }
  & img {
    width: 220px;
    height: 100%;
    object-fit: contain;
  }
}
.userName {
  width: 100px;
  height: 30px;
  text-transform: uppercase;
}
.uploads {
  width: 100%;
  max-width: 900px;
  @include flex (space-around, center)
}
.updateImagesBtn {
  width: 200px;
}