@import 'mixins';
@import 'variables';

.uploadForm {
  min-width: 220px;
  label, button {
    min-width: 220px;
  }
}
.fetchMessageStyle {
  margin: 0 auto;
  width: 200px;
  height: 13px;
  font-size: 11px;
  text-align: start;
  color: $text-clr;
}