@import 'mixins';
@import 'variables';

.uploadForm {
  width: 100%;
  max-width: 400px;
}
.fetchMessageStyle {
  margin: 0 auto;
  width: 200px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  color: $text-error-clr;
}