@import 'mixins';
@import 'variables';

.uploadForm {
  width: 100%;
  max-width: 400px;
  @include flex(space-around, center);
}
.selectBtn{
  width: 150px;
  color: $text-clr;
}
.submitBtn{
  width: 190px;
  color: $text-clr;
}