
@mixin flex($justify: center, $align: center, $direction: null) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    @if $direction {
      flex-direction: $direction;
    }
  }

  @mixin theme ($mode: null) {
    $bg: transparent;
    $clr: transparent;
    @if ($mode == 'dark') {
      $bg: $bg-clr-dark;
      $clr: $text-clr-dark;
    } @else {
      $bg: $bg-clr;
      $clr: $text-clr;
    } 

   header, main, footer {
      background-color: $bg;
      color: $clr;
    }
  }