@mixin flex($justify: center, $align: center, $direction: null) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    @if $direction {
      flex-direction: $direction;
    }
  }

  @mixin theme ($mode: null) {
    $bg: $bg-clr;
    $text: $text-clr;
    $primary: $primary-clr;
    $secondary: $secondary-clr;
    @if ($mode == 'dark') {
      $bg: $bg-clr-dark;
      $text: $text-clr-dark;
      $primary: $primary-clr-dark;
      $secondary: $secondary-clr-dark;
    }

    header{
      background-color: $primary;
    }
    main {
      background-color: $bg;
      color: $text;
    }
    footer {
      background-color: black;
      color: white
    }
    form label, input {
      color: $text;
    }
    form button {
      background-color: $primary;
    }

  }