$light-color: #f7f7f7;
$header-color: #ffa500;
$footer-color: #292929;

// theme
$primary-color-light: #007bff;
$secondary-color-light: #6c757d;
$primary-color-dark: #1a1a1a;
$secondary-color-dark: #e6e6e6;