@import 'variables';
@import 'mixins';

.mainContainer {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    opacity: .94;
    @include flex (center, center);
    .artWorks {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-content: center;
        .imageConatiner {
            width: 200px;
            height: 323px;
            padding: 10px;
            img {
                width: 100%;
                height: 100%;
    
             }
        }
        
      @include respond-to ($breakpoint-max) {
        grid-template-columns: repeat(4, 1fr);
      }   
      @include respond-to ($breakpoint-large) {
        grid-template-columns: repeat(3, 1fr);
      }   
      @include respond-to ($breakpoint-medium) {
        grid-template-columns: repeat(2, 1fr);
      }   
      @include respond-to ($breakpoint-small) {
        grid-template-columns: repeat(1, 1fr);
      }   
    }
}