@import '_variables';

.mainContainer {
    margin-top: -34px;
    width: 100%;
    height: 100vh;

    ::-webkit-scrollbar {
        width: 2px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $text-clr;
    }

    ::-webkit-scrollbar-thumb {
        background: $light;
        border-radius: 10px;
    }

}

.welcomeBlock {
    position: relative;
    top: 40px;
    left: 130px;
    width: 500px;
    height: auto;

    ::-webkit-scrollbar-track {
        width: 3px;
    }

    h1 {
        margin-left: 30px;
        font-size: 50px;
        font-weight: 200;
    }

    .secondTitlesContainer {
        margin-top: 40px;
        width: 500px;
        height: 200px;
        overflow: hidden;
        overflow-y: auto;

        p {
            margin: 13px;
            padding: 10px;
            font-size: 16px;
            font-weight: 100;
        }

    }
}
.boat {
    position: absolute;
    top: 378px;
    left: 0;
    text-align: end;
    z-index: 10;
}